// 전역으로 사용하는 공통 css 입니다! 추가 시엔 꼭꼭 주석 처리 + commit 에 설명 + 톡방에 말씀해주세요~!

button {
    cursor: pointer;
    background-color: var(--none);
}

body {
    background-color: var(--black);
}

.container {
    margin: 0 auto;
    background-color: var(--white);
    width: 393px;
    height: 100vh;
    min-height: 852px;
}