.as_container span {
    left: 158px;
    top: 33px;
    position: relative;
    font-family: Pretendard;
    font-weight: 400;
    font-size: 22px;
    width: 77px;
    height: 26px;
}

.rightArrow {
    width: 46px;
    height: 46px;
    top: 72px;
    left: 15px;
    position: relative;
}

.noSet {
    font-family: Pretendard;
    font-size: 17px;
    font-weight: 500;
    left: 37px;
    top: 103px;
    position: relative;
}

.pushNotify {
    background-color: #F6F6F6;
    width: 100%;
    height: 21px;
    position: relative;
    top: 113px;
    span {
        
        position: absolute;
        left: 37px;
        top: 2px;
        color: #9F9F9F;
        font-family: Pretendard;
        font-size: 13px;
        font-weight: 400;
    }
}

.as_list {
    display: flex;
    position: relative;
    top: 118px;

    .textList {
        top: 0px;
        left: 40px;
        position: relative;

        p {
            padding-bottom: 16px;
            font-family: Pretendard;
            font-size: 15px;
            font-weight: 400;
        }

        p:nth-of-type(1) {
            padding-top: 24px;
        }

    }
}

.btnList {
    top: 23px;
    right: 30px;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.as_btn {
    width: 57px;
    height: 28px;
    margin-bottom: 7px;
}

.emailNotify {
    background-color: #F6F6F6;
    width: 100%;
    height: 21px;
    position: relative;
    top: 120px;

    p {
        position: absolute;
        left: 37px;
        top: 2px;
        color: #9F9F9F;
        font-family: Pretendard;
        font-size: 13px;
        font-weight: 400;
    }
}
.checkEmail{
    font-family: Pretendard;
    font-size: 15px;
    font-weight: 400;
    left: 40px;
    top: 140px;
    position: relative;
}
.en_btn {
    width: 57px;
    height: 28px;
    left: 305px;
    top: 117px;
    position: relative;
}