.Bell_wrap {
    .header {
        position: relative;
        text-align: center;
        border-bottom: 1px solid var(--black300);

        img {
            cursor: pointer;
            position: absolute;
            left: 25px;
            bottom: 20px;
            width: 15px;
            height: 23px;
        }

        h2 {
            padding: 30px 25px 15px;
            font-size: 22px;
        }
    }
    .main:hover{
        cursor: pointer;
    }
    .main {
        .no-alram{
            margin-top: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #5B5B5B;
        }
        .like {
            display: flex;
            padding: 20px 30px;
            border-bottom: 1px solid var(--black300);
           

            img {
                width: 27px;
                height: 27px;
                margin-right: 10px;
                margin-top: 7px;
            }

            >div {
                width: 95%;
                .people {
                    display: flex;
                    margin-bottom: 10px;
                    img{
                        width: 41px;
                        height: 41px;
                        object-fit: cover;
                        border-radius: 20px;
                        margin-top: 0;
                    }

                    div {
                        width: 41px;
                        height: 41px;
                        border-radius: 50%;
                        margin-right: 5px;
                        background-color: var(--black300);
                    }
                }

                .info {
                    font-size: 14px;
                    em {
                        font-weight: 500;
                        font-size: 16px;
                    }
                }

                .text {
                    width: 95%;
                    white-space: normal;
                    font-size: 13px;
                    color: var(--black100);
                    margin-top: 10px;
                }
            }
        }
    }
}
