@import url('https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&display=swap');

.MyChracternone {
    padding: 40px 20px;
    background-color: #FFFDF7;

    h2 {
        font-size: 17px;
        line-height: 1.3;
        font-family: 'Codystar';
    }

    button {
        margin-top: 130px;
        position: relative;
        display: flex;
        justify-content: center;

        >p {
            font-size: 22px;
            color: var(--white);
            top: 148px;
            left: 127px;
            position: absolute;
        }

        img {
            margin-left: 5px;
            width: 340px;
            height: 328px;
        }
    }
}

.MyCharacterChoose_wrap {
    padding: 40px 15px;
    padding-top: 90px;
    background-color: #FFFDF7;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    >input {
        width: 208px;
        height: 40px;
        border: 2px solid var(--maincolor);
        text-align: center;
        background-color: var(--none);
        outline: none;
        border-radius: 12px;
        font-size: 22px;
        color: var(--maincolor);
        margin-bottom: 50px;
        font-weight: 600;
    }

    ::placeholder {
        font-weight: 400;
        color: var(--maincolor);
    }

    .main {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        .chooseback {
            width: 250px;
            height: 270px;
            background-image: url(../../img/mycharacter/backimg.png);
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 40px;

            img {
                width: 220px;
                height: 220px;
            }
        }

        .choose_list {
            width: 100%;
            position: relative;

            .list {
                width: 100%;
                display: flex;
                justify-content: space-between;
                position: relative;

                >div {
                    cursor: pointer;
                    width: 110px;
                    height: 110px;
                    border-radius: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    z-index: 2;

                    img {
                        width: 85px;
                        height: 85px;
                    }
                }

                .dol {
                    background: linear-gradient(to bottom, #FFCA6C, #F8A004);
                }

                .bird {
                    background: linear-gradient(to bottom, #51EFB6, #02B897);
                }

                .da {
                    background: linear-gradient(to bottom, #61C8F5, #0084BE);
                }
            }

            .background {
                width: 403px;
                height: 67px;
                bottom: -40px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 1;
                position: absolute;
                background-image: url(../../img/mycharacter/backimgbottom.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
        }

        >button {
            width: 180px;
            height: 47px;
            background-color: var(--maincolor);
            color: var(--white);
            margin-top: 70px;
            font-size: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 25px;
        }
    }
}

.MyCharacterYes_wrap {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../img/mycharacter/backimgmain.png);
    padding: 30px;
    padding-top: 100px;
    overflow: hidden;

    .header {
        padding-left: 20px;
        font-size: 17px;
        position: relative;
        font-weight: 600;
        margin-bottom: 50px;

        p {
            margin-bottom: 10px;
        }

        button {
            right: -30px;
            bottom: 0;
            position: absolute;
        }
    }

    .main {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;

        .guage_wrap {
            display: flex;
            width: 10%;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            .guage {
                width: 18px;
                height: 354px;
                border-radius: 500px;
                border: 1px solid #563428;
                background-color: #563428;
                margin-bottom: 10px;
            }

            .percent {
                font-weight: 600;
                font-size: 14px;
                color: #563428;
            }
        }

        .character {
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .name {
                background-image: url(../../img/mycharacter/saybox.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                width: 113px;
                height: 64px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 40px;

                p {
                    font-weight: 600;
                    color: #563428;
                    font-size: 17px;
                    margin-bottom: 20px;
                }
            }

            >img {
                width: 197px;
                height: 197px;
            }
        }

        .active {
            width: 10%;
            display: flex;
            flex-direction: column;

            button {
                margin-bottom: 15px;

                img {
                    width: 45px;
                    height: 45px;
                }
            }
        }
    }

    .ending {
        width: 100%;
        display: flex;
        justify-content: center;

        button {
            width: 180px;
            height: 44px;
            background-color: var(--maincolor);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            border-radius: 500px;
        }
    }
}