.user-loading {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 252px;
        height: 258px;
    }

}

.login1 {
    background: #FFFDF7;
    display: flex;
    justify-content: center;
    align-items: center;

    .wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    img {
        width: 87px;
        height: 89px;
        margin-bottom: 70px;
    }

    h1 {
        display: flex;
        font-size: 25px;
        margin-bottom: 30px;

    }

    .tologin {
        background-color: #FFC328;
        width: 270px;
        height: 48px;
        border-radius: 30px;
        color: #fff;
        font-size: 21px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }
}

.login2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 100px;

    .wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 30px;
            color: #FFC328;
            font-weight: bold;
            margin-bottom: 40px;
        }

        form {
            display: flex;
            flex-direction: column;

            .info {
                width: 328px;
                box-shadow: 0px 1px 0px 0px gray;
                margin: 10px;
                padding: 10px;
            }

        }

        form::placeholder {
            color: #9C9C9C;
        }

        input:focus {
            border: none;

        }

        .loginbtn {
            background-color: #FFC328;
            width: 330px;
            height: 48px;
            border-radius: 30px;
            color: #fff;
            font-size: 21px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            margin-bottom: 30px;
        }

        .tosignup {
            text-decoration: underline;
            color: #686868;
        }

        .tofind {
            display: flex;
            color: #a1a1a1;
            font-size: 15px;
            text-decoration: underline;
            align-self: flex-end;
            margin-bottom: 40px;
        }
    }

    .underlogo {
        position: absolute;
        bottom: 30px;
        width: 101px;
        height: 50px;

    }
}

.signup {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    position: relative;
    overflow: hidden;

    h1 {
        font-weight: bold;
        margin-bottom: 20px;
    }

    .pro-img {
        position: relative;
        margin-bottom: 20px;
    }

    .addimg {
        display: flex;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .camera {
        width: 40px;
    }

    .pro-img>img {
        width: 108px;
    }

    .info {
        display: flex;
        flex-direction: column;

        input {
            width: 328px;
            box-shadow: 0px 1px 0px 0px gray;
            margin: 10px;
            padding: 10px;
            font-size: 17px;
        }

        .id {
            position: relative;

            button {
                position: absolute;
                right: 10px;
                bottom: 20px;
                background-color: #fff;
                width: 97px;
                height: 32px;
                border-radius: 20px;
                border: #FFC328 1px solid;
                color: #FFC328;

            }
        }


    }

    .hide {
        display: none;

    }

    .etc {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        z-index: 100;
        width: 100%;

    }

    .terms {
        display: flex;
        width: 80%;
        flex-direction: column;
        margin-top: 10px;

        div {
            display: flex;
            position: relative;
            margin-bottom: 5px;

            .red {
                color: #FF7C7C;
            }

            .gray {
                color: #a0a0a0;
            }
        }

        .line {
            width: 120%;
            margin-left: -10%;
            height: 0.5px;
            background-color: #D2D2D2;
        }

        .inner {
            margin-left: 15px;
        }
    }

    input[type="checkbox"] {
        display: none;
    }

    .custom-checkbox {
        margin-right: 10px;
        display: flex;
        width: 24px;
        height: 24px;
        background: url('../../img/user/no-check.png') no-repeat center center;
        background-size: contain;
        cursor: pointer;
    }

    input[type="checkbox"]:checked+.custom-checkbox {
        background: url('../../img/user/check.png') no-repeat center center;
        background-size: contain;
    }

    form::placeholder {
        color: #9C9C9C;
    }

    input:focus {
        outline: none;
    }

    .underlogo {
        position: absolute;
        bottom: 30px;
        width: 101px;
        height: 50px;

    }

    .signupbtn {
        background-color: #FFC328;
        width: 330px;
        height: 48px;
        border-radius: 30px;
        color: #fff;
        font-size: 21px;
        display: flex;
        justify-content: center;
        align-items: center;

        margin-top: 30px;
    }

    .term-info {
        width: 28px;
        right: 0;
        top: 0;
        position: absolute;
    }

    .term-etc {
        display: flex;
        flex-direction: column;
        width: 100%;

        background-color: #fff;

        button {
            font-weight: bold;
            padding: 20px;
            font-size: 19px;
            text-align: end;
        }

        h1 {
            font-size: 20px;
            margin-left: 20px;
            margin-top: 20px;
        }

        img {
            margin-top: 20px;
            width: 329px;
            margin: 0 auto;
        }
    }
}

.success {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;

    .wrap {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 87px;
            margin-bottom: 20px;
        }

        h1 {
            font-size: 25px;
            text-align: center;
        }

        .gologin {
            background-color: #FFC328;
            width: 330px;
            height: 48px;
            border-radius: 30px;
            color: #fff;
            font-size: 21px;
            display: flex;
            justify-content: center;
            align-items: center;

            margin-top: 30px;
        }

        
    }
    .underlogo {
        position: absolute;
        bottom: 30px;
        width: 101px;
        height: 50px;

    }
}